/h1= t('.quiz_stat_for', :user => @user.to_s)
/== render :partial => 'attack/quizzes/protection_quiz', :locals => { :quiz => @protection_quiz }
== render :partial => 'protection/quizzes/protection_quiz', :locals => { :protection_quiz => @protection_quiz }
