.row
  .span4= link_to t('.start_attack_test'), start_attack_quizzes_path, :class => 'btn btn-large btn-primary'
  .span4= link_to t('.results_tests'), attack_quizzes_path, :class => 'btn btn-large btn-primary'
