@cell-size: 39px;
.game-table {
  table-layout: fixed;
  width: auto;

  tr td {
    height: @cell-size;
    width: @cell-size;
    line-height: @cell-size - 1;
    text-align: center;
    padding:  0px;
    i.icon-user {
      padding:  12px 14px;
      &.ui-draggable {
        cursor: pointer;
      }
    }
  }

  .volley-net {
    background-color: darkgrey;
    width: 5px;
    padding: 0px;
  }
}
