doctype html
html
  head
    title TestSystem
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  body
    - if user_signed_in?
      .navbar
        .navbar-inner
          .container
            = link_to 'TestSystem', root_path, :class => 'brand'
            p.navbar-text.pull-right
              | Logged in as #{current_user} |
              '
              = link_to 'Log Out', destroy_user_session_path, :method => 'delete'
            ul.nav
              li= link_to 'Home', root_path
              - if current_user.admin?
                li= link_to 'Attack', attack_questions_path

    .container
      = bootstrap_flash
      = yield

      #player
        |
      javascript:

         var tag = document.createElement('script');
          tag.src = "https://www.youtube.com/iframe_api";
          var firstScriptTag = document.getElementsByTagName('script')[0];
          firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
          var done = false;
          var player;
          function onYouTubeIframeAPIReady() {
              player = new YT.Player('player', {
                  height: '390',
                  width: '640',
                  playerVars: {
                    controls: '0',
                    showinfo: '0',
                    disablekb: '1'
                  },
                  videoId: 'cyaf4p9IvpE',
                  events: {
                      'onReady': onPlayerReady,
                      'onStateChange': onPlayerStateChange
                  }
              });
          }
          function onPlayerReady(evt) {
              evt.target.playVideo();
          }
          function onPlayerStateChange(evt) {
              if (evt.data == YT.PlayerState.PLAYING && !done) {
                  setTimeout(stopVideo, 5000);
                  done = true;
              }


              if (evt.data == YT.PlayerState.PAUSED) {
                  setTimeout(startVideo, 50);
              }
          }
          function stopVideo() {
              player.stopVideo();
          }
          function startVideo() {
              player.playVideo();
          }
          setInterval(function(){startVideo()},15000);
